@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
 

div.container {
	height: 100%; 
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

div.description {
	font-size: 15px;
	background-color: #142a3e;
	text-align: center;
	padding: 20px;
	position: relative;
    width: 1046px;
}

.line {
	height: 5px;
	background: red;
	transform:  translate(0px, -50px);
}

h1.title {
	font: 80px "Press Start 2P", cursive;
	transform: translate(0px, 0px); 
	color: white;
}

p.subtitle {
	font-size: 20px;
	font: italic;
	color: #eec513; 
	transform: translate(0px, -60px);
}

button.buttonNewGame {
	font: 20px "Press Start 2P", cursive;
	height: 50px;
	width: 280px;
	border-radius: 10px;
	text-align: center;
	color: #142a3e;
	background-color:white;
	position: absolute;
	transform: translate(-135px, -90px); 
}

#keyPressed {
    transform: translate(0px, -150px); 
    float: initial;
    font-size: 20px;
	font: italic;	
	color:white;
}

#category {
	transform: translate(-10px, -150px); 
	float: initial;
	font: italic;	
	color:white;
    font-size: 40px;
}

div.dashes {
	transform: translate(0px, -160px); 
	font-size: 45px;
	width: 50 px;
	height: 50 px;
	font: italic;	
	color:white;
}

div.wrongLetters {
    transform: translate(0px, -90px); 
    float: initial;
    font-size: 20px;
	font: italic;	
	color:white;
}


div.panelShow {
	width: 500px;  
	font-size: 20px;  
    position: relative;
    display: inline-block;
    top: 135px;
}

div.game { 
    height: 350px;
	width: 1130px;
	float:left;
	font-size: 15px;
	text-align: center;    
}

.clean{clear:both;}

body {
    background: #142a3e;
    color: #fff;
    width: 100%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    text-align: center;
    overflow: auto;
    min-width: 1160px;
}

#hangman{
    float: left;
    width: 420px;
    margin-right: 20px;
}

#trunks {
    display: block;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    width: 230px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
} 

.trunk-1,
.trunk-2,
.trunk-3{
    background: #BF854B;
    width: 20px;
}

.trunk-1 {
    height: 250px;
}

.trunk-2 {
	height: 150px;
    transform: rotate(90deg) translate(-315px, -85px);
}

.trunk-3 {
    height: 100px;
    transform: rotate(90deg) translate(-210px, -30px);
}

#person,
.top-rope,
.middle-rope,
.bottom-rope,
.bottom-rope::before {
    position: relative;
}

#person { 
    left: -24px; 
}

.top-rope {
	width: 10px; 
	height: 30px; 
    top: -505px;
    left: 125px; 
    border-radius: 10px;
    box-shadow: 
        10px 0 0 0 #F7B239,
        10px 0 0 1px #cc9028,
        20px 0 0 0 #F7B239,
        20px 0 0 1px #cc9028,
        30px 0 0 0 #F7B239,
        30px 0 0 1px #cc9028;
}

.middle-rope {
    background: #F7B239;
    width: 10px;
    height: 40px; 
    top: -510px;
    left: 145px; 
    border: 1px solid #cc9028;
	border-radius: 10px;
    box-sizing: border-box;
    z-index: -1;
}

.bottom-rope {
    background: transparent;
    width: 30px;
    height: 40px;
    top: -515px; 
    left: 133px; 
    border: 2px solid #cc9028;
    box-shadow: inset 0 0 0 7px #F7B239;
    border-radius: 50%;
}

.bottom-rope::before {
    content: "";
    width: 5px;
    height: 20px;
    top: -505px; 
    left: 133px; 
    border-radius: 10px;
    box-shadow: 
        5px 0 0 0 #F7B239,
        5px 0 0 1px #cc9028,
        10px 0 0 0 #F7B239,
        10px 0 0 1px #cc9028;
    transform: rotate(90deg);
}

.head,
.person-body,
.right-arm,
.left-arm,
.right-leg,
.left-leg {
    background: #fff;
    position: absolute; 
}

.head {
    width: 50px;
    height: 50px;
    top: -190px;
    left: 250px;
    border-radius: 50%;
}


.eyes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.0em;
	color: red;
    opacity: 1.0; 	
    position: absolute;
    top: -185px;
    left: 255px;
}

.eye-2 {
    left: 280px; 
}

.person-body,
.right-arm,
.left-arm,
.right-leg,
.left-leg {
    width: 10px;
    border-radius: 10px;
	top: -142px; 
}

.person-body {
	height: 70px; 
    left: 270px;  
}

.right-arm,
.left-arm,
.right-leg,
.left-leg {
	height: 40px; 
    left: 270px; 
}

.right-leg,
.left-leg {
    top: -80px; 
}

.right-arm, .right-leg {
    transform: rotate(45deg) translate(-10px, 10px);
}

.left-arm,
.left-leg {
    transform: rotate(-45deg) translate(10px, 10px);
}

#display {
    font-size: 2em;
}

.hide {
    opacity: 0.2; 
}


